* {
    box-sizing: border-box;
}


body {
    margin: 0;
    background-color: #f5f5f5;
}


/*顶部导航栏*/
.topmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
    background-color: #333;

}

.topmenu li {
    float: left;
}

.topmenu li a, #QRcode {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    background: transparent;
    color: white;
}

.topmenu li a:hover {
    color: orange;
}


/* 二维码 */
#QRcode {
    background-color: rgb(80, 78, 78);
}

#QRcode:hover {
    cursor: pointer;
    content: url("./img/QRcode.jpg");
}




/* body */
/* 框框 */
.page {
    margin:60px 39%;
    border: 1px solid #333;
    padding: 30px;

    box-shadow: 0 0 20px #c8cdd4;
    border-radius: 10px;
    border-color: #8d939a;

    z-index: -1;
}



table {
    display: inline-block;
    margin-right: -300px;
}

/* 第一列： input的名称 */
.input-name {
    font-size: smaller;
    text-align: right;
    padding: 0px 2px 8px 0px;
    width: 60px;
}


table input {
    border-radius: 8px;
    border: 1px solid #e9e9e9;
    height: 40px;
    width: 250px;
    margin-bottom: 15px;
    font-size: large;

    outline: none;
}


/* focus input框 改变颜色 */
table input:focus {
    border-color: #5aabd4;
}


/* 提示框 */
.tooltip-text {
    visibility: hidden; 
    z-index: 1;
    text-align: left;

    height: 40px;
    padding: 10px;

    background-color: #5aabd4;
    color: white;
    border-radius: 5px;

    position: relative;
    left: 10px;


    opacity: 0;
    transition: opacity 0.5s;
}


table input:focus +.tooltip-text{
    visibility: visible;
    opacity: 1;
}


/* 提示框添加小三角 */
.tooltip-text::after {
    content: "";

    position: absolute;
    /* 补充定位信息*/
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;

    border-color: transparent #5aabd4 transparent transparent;

}




/* 底部button */

.button {
    text-align: right;
}

.button input {
    background-color: #3c6db0;
    color: white;
    padding: 8px;

    border-radius: 7px;
    border: 0;
    box-shadow: 0 0 2px gray;
}

.button input:hover {
    cursor: pointer;
    background-color: #5a88c8;

}