/* 行程卡 */
.form-left-cards {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 5px;


}

/* 设置滚动条样式 */
.form-left-cards::-webkit-scrollbar {
    background-color:  rgba(2, 82, 141, 0.3);
    width: 15px;
}
.form-left-cards::-webkit-scrollbar-thumb {
    background-color: #02EDEF;
}
.form-left-cards::-webkit-scrollbar-button {
    background-color: rgba(2, 82, 141, 1);
}



/* 增加程控卡表单 */
.fp-input {
    display: none;
    /* display: grid; */
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 50px 1fr 2fr 50px;

    width: 300px;
    height: 300px;

    position: absolute;
    top: 200px;
    left: 130px;

    background-color: rgba(2, 82, 141, 0.85);
    color: white;
    font-family: Microsoft YaHei;
    font-weight: bold;

    padding-right: 20px;
}

.fp-input p {
    grid-column-start: 1;
    grid-column-end: 3;

    font-size: 20px;
    text-align: center;
    line-height: 50px;
}

.fp-input label {
    text-align: center;
}

.fp-input #name {
    height: 30px;
}

.fp-form-button {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: space-around;

    color:#02EDEF;
    padding-top: 15px;
}



/* 增加form按钮样式(form左下角加号) */
.form-left-icons div, .cancel, .ensure, .fp-button {
    cursor: pointer;
}






/* /////////////////////////////////////////////////////////////////////////////////// */
/* 程控卡卡片样式 */
.flowPath {
    display: grid;
    grid-template-columns: 1fr 80px;
    grid-template-rows: 20px 20px;
    row-gap: 5px;
    padding: 7px 20px;
    padding-left: 30px;

    background: rgba(2, 82, 141, 0.3);

    position: relative;
    border-left: 3px solid #02EDEF;

    margin-bottom: 5px;

    

}

/* 框框左边小三角 */
.flowPath::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;

    top: 26px;
    left: 10px;
    border: 5px solid transparent;
    border-left-color: #02EDEF;
    z-index: 5;
} 



.fp-title {
    font-size: 16px;
    font-family: Source Han Sans CN;
    font-weight: bold;
    color: #24C3FF;
}

.fp-content {
    font-size: 15px;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #FFFFFF;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

    overflow-x: auto;
    overflow-y: hidden;
}

.fp-content::-webkit-scrollbar {
    height: 3px;
    background-color: rgba(2, 82, 141, 0.3);
}
.fp-content::-webkit-scrollbar-thumb {
    background-color: #02EDEF;
}

.fp-button {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

    font-size: 15px;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #24C3FF;

    width: 80px;
    height: 29px;
    background: rgba(36, 195, 255, 0.2);
    border-radius: 1px;
    
    margin: auto;
    text-align: center;
    line-height: 29px;
}

/* ////////////////////////////////////////////////////////////////////////////////// */



/* 第一行右边：故障关站 */

.acc {
    flex-grow: 1;
}

.acc-title, .acc-content {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-row: 30px;
    height: 30px;
    padding: 4px 25px;
}

.acc-title {
    background-color: rgba(2, 82, 141, 0.3);
    color: #24C3FF;

}

.sqr {
    content: ''; 
    width:15px; 
    height: 15px; 
    border: 1px solid #24C3FF; 
    margin-top: 3px;
}


.acc-bottom {
    display: flex;
    justify-content: space-between;
}

.acc-tag {
    width: 120px;
    padding-bottom: 3px;
    margin-bottom: 10px;
    text-align: center;

    color: white;

    border-bottom: 2px solid #24C3FF;
}


.acc-btns {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.acc-btns div {
    width: 50px;
    text-align: center;
    color: #24C3FF;
    margin: 2px;

    border: 1px solid;
    border-radius: 3px;
}

/* /////////////////////////////////////////// */
/* 故障关站新增项样式 */
.acc-content div {
    font-size: 15px;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #FFFFFF;
}


