/* /////////////////////////////////////////////////////////////////////// */
body {
    background: url("../img/bg.png") no-repeat -1px 0;
}


/* ///////////////////////////////////////////////////////////////////////// */
/* 头部样式 */
.header {
    height: 110px;
    background: url("../img/db_bg.png") no-repeat -1px 0;
}

/* "重庆四号线XXX"大logo */
.logo {
    position: absolute;
    left: 724.5px;
    top: 15.5px;
}

/* 顶部导航栏 */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    height: 35px;
    padding-left: 31.5px;
    padding-right: 35.5px;
}

/* 垂直方向居中 */
.nav div {
    display: flex;
    align-items: center;

    font-size: 18px;
}

.nav div * {
    padding-left: 10px;
}

.location, .temperature {
    padding-right: 20px;
}

/* /////////////////////////////////////////////////////////////////////////////////// */
/* 中间表单部分 */
 .content {
    display: grid;
    grid-template-columns: 540px 700px 540px;
    grid-template-rows: 310px 1fr;

    margin: -30px 40px;
    column-gap: 30px;
    row-gap: 20px;
 }

 .content-left2 {
    grid-column-start: 1;
    grid-column-end: 3;
 }

.title {
    height: 40px;
    font-size: 20px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: #FFFFFF;

    background: url("../img/form/headers.png") no-repeat left bottom;
}

/* title前面的蓝色小竖条 */
.title::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    
    border-left: 5px solid #24C3FF;
}



/* form的框框 */
.form-left, .form-right1, .form-right2 {
    height: 270px;
    background: rgba(2, 82, 141, 0.3);
    border: 1px solid rgba(2, 82, 141, 1);
    margin-top: 5px;

    /* 四角高亮 */
    background: linear-gradient(#24C3FF, #24C3FF) left top,
    linear-gradient(#24C3FF, #24C3FF) left top,
    linear-gradient(#24C3FF, #24C3FF) right top,
    linear-gradient(#24C3FF, #24C3FF) right top,
    linear-gradient(#24C3FF, #24C3FF) left bottom,
    linear-gradient(#24C3FF, #24C3FF) left bottom,
    linear-gradient(#24C3FF, #24C3FF) right bottom,
    linear-gradient(#24C3FF, #24C3FF) right bottom;
    background-repeat: no-repeat;
    background-size: 2px 20px, 20px 2px;
}




/* 第一行左边 */
.form-left, .form-right1, .form-right2 {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}


.form-left-icons, .acc-bottom {
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
    height: 30px;
    padding-top: 2px;

    margin-top: auto; 
    align-items: center;
}




/* 第一行中间 */
.form-center {
    height: 270px;
    margin-top: 40px;
    border: 1px solid #24C3FF;
}

.form-center-bars {
    display: flex;
}

.form-center-bars div {
    font-size: 13px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #24C3FF;

    height: 37px;
    flex: 1;
    padding-left: 20px;
    padding-top: 10px;
    margin-top: 2px;
    background: url("../img/form/ejcd_b.png") center;
}


.content-left2 {
    background-color: rgba(2, 82, 141, 0.3);
    height: 500px;
    margin-top: 20px;

    z-index: -1;

    color: white
}




/* 右下角圆形 */
.right-circles {
    position: absolute;
    height: 70px;
    width: 200px;

    top: 760px;
    right: 200px;

    display: flex;
    justify-content: space-between;
}

.circle {
    width: 70px;
    height: 70px;
    background: url('../img/form/PA／pis.png') no-repeat;

    font-size: 9px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: #FFFFFF;

    padding-top: 18px;
    padding-left: 25px;
}

#right-arr {
    padding-top: 20px;
}


/* 左下角按钮窗 */
.button-window {
    width: 292px;
    height: 167px;

    background: url("../img/form/kuang.png") no-repeat;
    position: absolute;
    bottom: 50px;
    left: 40px;

    padding: 30px;
    padding-top: 40px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.button-window div {
    font-size: 13px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #FFFFFF;

    width: 110px;
    height: 27.5px;
    background: rgba(0, 61, 106, 0.27);
    border: 1px solid #009DD9;
    border-radius: 14px;

    padding-top: 5px;
    padding-left: 27px;
}

.icon-cha {
    color: #0050A2;
    position: absolute;
    bottom: 193px;
    left: 307px;

    z-index: 4;
}




/* //////////////////////////////////////////////////////////////////////// */
/* 底部样式 */
.footer {
    width: 1920px;
    height: 150px;
    position: absolute;
    bottom: 0px;
    left: 0px;

    display: flex;

    z-index: 2;
}

/* 中间居中 */
.footer-left, .footer-center, .footer-right {
    flex: 1;
}

/* 左下角小圆圈 */
.footer-left img {
    position: absolute;
    bottom: 35.5px;
    left:26.5px;
}

/* 中间菜单栏 */
.footer-center {

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 105px;
    width: 150px;

    background: url("../img/bottom/一级菜单.png") center;
}

/* 最中间的munu高亮 */
.center-menu {
    width: 200px;
    background: url("../img/bottom/一级菜单高亮.png") center;
}

/* 文字 */
.menu-word {
    width: 72px;
    height: 18px;
    font-size: 18px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: #FFFFFF;
}


/* 右边菜单栏 */
.footer-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding-top: 70px;
}


/* 3d内容的文字部分 */
.threeD-word {
    width: 70px;
    height: 45px;
    margin-right: 20px;

    font-size: 15px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: #00FDEF;

    text-align: center;
    background: url("../img/bottom/3D全景BG.png") no-repeat center;
}


/* 右下角警报标识 */
.alarm {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    width: 230px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 100px;
}

.verti-line {
    width: 1px;
    height: 15px;
    background: #FFFFFF;
    opacity: 0.5;
    border-radius: 1px;
}

.exit-word {
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #FFFFFF;
}