/* /////////////////////////////////////////////////////////////////////// */
body {
    background: url("../img/bg.png") no-repeat -1px 0;
}


/* ///////////////////////////////////////////////////////////////////////// */
/* 头部样式 */
.header {
    height: 110px;
    background: url("../img/db_bg.png") no-repeat -1px 0;
}

/* "重庆四号线XXX"大logo */
.logo {
    position: absolute;
    left: 724.5px;
    top: 15.5px;
}

/* 顶部导航栏 */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    height: 35px;
    padding-left: 31.5px;
    padding-right: 35.5px;
}

/* 垂直方向居中 */
.nav div {
    display: flex;
    align-items: center;

    font-size: 18px;
}

.nav div * {
    padding-left: 10px;
}

.location, .temperature {
    padding-right: 20px;
}



/* //////////////////////////////////////////////////////////////////////// */
/* 底部样式 */
.footer {
    width: 1920px;
    height: 150px;
    position: absolute;
    bottom: 0px;
    left: 0px;

    display: flex;
}

/* 中间居中 */
.footer-left, .footer-center, .footer-right {
    flex: 1;
}

.footer-left img {
    position: absolute;
    bottom: 35.5px;
    left:26.5px;
}

/* 中间菜单栏 */
.footer-center {

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 105px;
    width: 150px;

    background: url("../img/bottom/一级菜单.png") center;
}

/* 最中间的munu高亮 */
.center-menu {
    width: 200px;
    background: url("../img/bottom/一级菜单高亮.png") center;
}

/* 文字 */
.menu-word {
    width: 72px;
    height: 18px;
    font-size: 18px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: #FFFFFF;
}


/* 右边菜单栏 */
.footer-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding-top: 70px;
}


/* 3d内容的文字部分 */
.threeD-word {
    width: 70px;
    height: 45px;
    margin-right: 20px;

    font-size: 15px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: #00FDEF;

    text-align: center;
    background: url("../img/bottom/3D全景BG.png") no-repeat center;
}


/* 右下角警报标识 */
.alarm {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    width: 230px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 100px;
}

.verti-line {
    width: 1px;
    height: 15px;
    background: #FFFFFF;
    opacity: 0.5;
    border-radius: 1px;
}

.exit-word {
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #FFFFFF;
}