@font-face {
  font-family: "iconfont"; /* Project id 3553104 */
  src: url('iconfont.woff2?t=1659058168145') format('woff2'),
       url('iconfont.woff?t=1659058168145') format('woff'),
       url('iconfont.ttf?t=1659058168145') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ditu:before {
  content: "\e648";
}

.icon-gongdanguanli:before {
  content: "\e62d";
}

.icon-chezhan:before {
  content: "\e6d7";
}

.icon-touxiang:before {
  content: "\e60d";
}

.icon-baojing1:before {
  content: "\e625";
}

.icon-tuichu:before {
  content: "\e651";
}

.icon-huanjingjiance:before {
  content: "\e67b";
}

.icon-tianqitaiyangqichuang:before {
  content: "\e712";
}

.icon-rili:before {
  content: "\e610";
}

.icon-xinzeng:before {
  content: "\e613";
}

.icon-zhinengyunwei:before {
  content: "\e639";
}

.icon-quanjing:before {
  content: "\e895";
}

.icon-changjingpeizhi:before {
  content: "\e62e";
}

.icon-zhongzuo:before {
  content: "\e600";
}

.icon-dayu:before {
  content: "\e601";
}

.icon-shuidianzhan:before {
  content: "\e62a";
}

